<!DOCTYPE html>  
<html>  
<head>  
    <meta charset="utf-8">  
    <title>test</title>  
    <script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>  
</head>  
<body>  
    <div id='app'>
      <input type="radio" name="test" v-for="(item,index) in list" :value="item.value" v-model="checkedValue">
      <button @click="test">获取选中的值</button>
    </div>
<script>
var vm = new Vue({
  el:'#app', 
  data(){
    return{
      checkedValue:'',
      list:[{value:1},{value:2},{value:3}]
    }
  },
  methods:{
    test(){
      console.log('被选中的值为:'+this.checkedValue)
    }
  }
});
</script>
</body>  
</html>